*.cbp
*.layout
*.log
*.depend
*.DS_Store
.vscode
.idea/
*.iws
*.iml
*.ipr
*.swp
*.gitlab-ci.yml
*.kra
*.ctx

# Backup files
*~
*.swp
*.swo
\#*\#
*.bak
*.old
*.orig

include/RB/config.h
include/RB/config/compiler.h
include/RB/config/platform.h
assets/textures/animations/
metaphor/
build/
build-*/
obj/
tests/Testing/
Testing/
bin/
libs/
res/
CMakeFiles/
docs/tell-tales/
docs/devnull/